# Example notebook

In [7]:
# from src.utils import DataQualityChecker
import pandas as pd
import requests

## Load data

In [5]:
df = pd.read_csv("../data/homes.csv")
df.head()

   Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0   142   160      28     10     5      3   60   0.28   3167
1   175   180      18      8     4      1   12   0.43   4033
2   129   132      13      6     3      1   41   0.33   1471
3   138   140      17      7     3      1   22   0.46   3204
4   232   240      25      8     4      3    5   2.05   3613

In [6]:
df.shape

(50, 9)

## Use API for quality check

In [14]:
url = "http://127.0.0.1:8000/quality-check/min-rows?min_rows=55"
payload_df = df.to_dict()

x = requests.post(url, json=payload_df)

print(x.text)

{"is_valid":false}